@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>MVCWeb</h2>

        <p>The Claims tab is a restricted page. Click on that to automatically log in and see your login details.</p>
    </div>
</div>
